body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd_fwHvyGgfWib1wzp0IDK5KmT9M_gw7sgSA&s);
}
nav{
    text-align: center;
}
.j1{
    width: 15em;
    height: 10em;
    background-color: white;
}
.j2{
    width: 6em;
    height: 5em;
    background-color: red;
    border-radius:90%;
    margin:auto;
}
.j3{
    width: 15em;
    height: 3em;
    background-color: black;
}.j4{
    width: 15em;
    height: 3em;
    background-color: red;
}.j5{
    width: 15em;
    height: 3em;
    background-color: yellow;
}
.j6{
    width: 15em;
    height: 9em;
    background-color: white;
}
.j7{
    width: 15em;
    height: 2em;
    background-color: blue;
}
.j8{
    width: 15em;
    height: 4em;
    background-color: red;
}
.j9{
    width: 15em;
    height: 3em;
    background-color: rgb(177, 5, 5);
}
.j10{
    width: 15em;
    height: 3em;
    background-color:rgb(255, 140, 0);
}
.j11{
    display: flex;
    margin: auto;
}
.j12{
    width: 5em;
    height: 10em;
    background-color: black;
}.j13{
    width: 5em;
    height: 10em;
    background-color: yellow;
}.j14{
    width: 5em;
    height: 10em;
    background-color: red;
}
.j15{
width: 5em;
height: 10em;
background-color: red;
}
.j16{
    width: 5em;
    height: 10em;
    background-color: white;
}
.m3{
    width: 3em;
    height: 7em;
    margin: auto;
    display: block;
}
.j17{
    width: 15em;
    height: 10em;
    background-color: rgb(216, 35, 35);
}
.m4{
    width: 3em;
    height: 7em;
    margin: auto;
    display: block;
}
.j18{
    width: 15em;
    height: 3em;
    background-color: red;
}.j19{
    width: 15em;
    height: 3em;
    background-color: white;
}.j20{
    width: 15em;
    height: 3em;
    background-color: blue;
}
.m5{
    width: 4em;
    height: 3em;
    margin: auto;
    display: block;
}
.j21{
    width: 15em;
    height: 4em;
    background-color: red;
}.j22{
    width: 15em;
    height: 4em;
    background-color: rgb(3, 3, 184);
}.j23{
    width: 15em;
    height: 4em;
    background-color: white;
}
.m7{
    width: 4em;
    height: 4em;
    margin: auto;
    display: block;
}
.j24{
    width: 5em;
    height: 10em;
    background-color: green;
}.j25{
    width: 5em;
    height: 10em;
    background-color: red;
}.j26{
    width: 5em;
    height: 10em;
    background-color: yellow;
}
.m9{
    width: 4em;
    height: 5em;
}
.j27{
    width: 5em;
    height: 10em;
    background-color: green;
}.j28{
    width: 10em;
    height: 10em;
    background-color: red;
}
.m10{
    width: 4em;
    height: 5em;
}
.j29{
    width: 15em;
    height: 4em;
    background-color: yellow;
}.j30{
    width: 15em;
    height: 4em;
    background-color: green;
}
.m11{
    width: 4em;
    height: 4em;
    margin: auto;
    display: block;
}
.j31{
    width: 15em;
    height: 1em;
    background-color:cyan;
}
.m12{
    width: 6em;
    height: 4em;
}
.j32{
    width: 5em;
    height: 10em;
    background-color: white;
}.j33{
    width: 10em;
    height: 10em;
    background-color: purple;
}
.j34{
    width: 15em;
    height: 4em;
    background-color: yellow;
}.j35{
    width: 15em;
    height: 2em;
    background-color: blue;
}.j36{
    width: 15em;
    height: 3em;
    background-color: red;
}
.m18{
    width: 4em;
    height: 6m;
    margin: auto;
    display: block;
}
.j37{
    width: 5em;
    height: 10em;
    background-color: green;
}.j38{
    width: 5em;
    height: 10em;
    background-color: yellow;
}.j39{
    width: 5em;
    height: 10em;
    background-color: red;
}
.m14{
    width: 4em;
    height: 5em;
    margin: auto;
    display: block;
}
.a1{
    width: 20em;
    height: 5em;
    background-color:deepskyblue;


}
.a2{
    width: 20em;
    height: 5em;
    background-color: white;


}
.a3{
     width: 20em;
    height: 5em;
    background-color:deepskyblue;
}
.c1{
    background-color: white;
    width: 4em;
    height: 3em;
    margin: auto;
    display: block;

}
.a4{
    width: 20em;
    height: 7em;
    background-color: white;

}
.a5{
    width: 20em;
    height: 7em;
    background-color: red;

}
.a6{
    margin: auto;
    display: flex;
}
.a7{
    width: 7em;
    height: 13em;
    background-color: green;
}
.a8{
    width: 7em;
    height: 13em;
    background-color: white;
}
.a9{
    width: 7em;
    height: 13em;
    background-color: red;
}
.c2{
    background-color: white;
    width: 6em;
    height: 4em;
    margin: auto;
    display: block;
}
.a10{
    width: 21em;
    height: 13em;
    background-color:darkgreen;
}
.c3{
    width: 13em;
    height: 13em;
    margin: auto;
    display: block;
}.z1{
    margin: auto;
    display: flex;
}
.z2{
    width: 7em;
    height: 13em;
    background-color: darkblue;
}
.z3{
    width: 7em;
    height: 13em;
    background-color: white;
}
.z4{
    width: 7em;
    height: 13em;
    background-color: red;
}
.z5{
    
    background-color: darkblue;
    width: 21em;
    height: 15em;

}

.n1{
    width: 21em;
    height: 15em;
    margin: auto;
}
.z6{
    width: 21em;
    height: 13em;
    background-color: red;

}
.z7{
    background-color: white;
    border-radius: 50%;
    width: 7em;
    height: 7em;
    margin: auto;
}
.n2{
    width: 6em;
    height: 6em;
    margin: auto;
    display: block;
}


.z8{
    background-color: red;
    width: 21em;
    height: 15em;
}
.n4{
    width: 21em;
    height: 15em;
}
.j111{
    margin:auto;
    display: block;
}
.y1{
    width: 20em;
    height: 13em;
    background-color: darkblue;
}
.d1{
    width: 20em;
    height: 13em;
    background-color: darkblue;

}


.d3{
    width: 20em;
    height: 13em;
}
.y15{
    width: 20em;
    height: 5em;
    background-color: green;
}

.y16{
    width: 20em;
    height: 5em;
    background-color: white;
}
.y17{
    width: 20em;
    height: 5em;
    background-color: red;
}
.d2{
    width: 7em;
    height: 5em;
    background-color: white;
    margin: auto;
    display: block;
}
.d4{
    width: 20em;
    height: 13em;
}